[submodule "zig-std"]
	path = zig-std
	url = https://github.com:Khitiara/zig.git
[submodule "disk-image"]
	path = build/complex-disk-image
	url = https://github.com/Khitiara/disk-image-step.git
[submodule "zfat"]
	path = libs/zfat
	url = https://github.com/Khitiara/zfat
